<!doctype html>
<html lang="en">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

<head>
  <title>Hello Azure - Python Quickstart</title>
  <link rel="stylesheet" href="{{ url_for('static', path='bootstrap/css/bootstrap.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', path='favicon.ico') }}">
</head>
<html>

<body>
  <main>
    <div class="px-4 py-3 my-2 text-center">
      <img class="d-block mx-auto mb-4" src="{{ url_for('static', path='images/stackOverflow-icon.png') }}" alt="stackOverflow Logo"
        width="192" height="192" />
    </div>
    <form id="questionForm">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
          <input type="text" class="form-control" id="question" name="question" placeholder="Question Title" style="max-width: 256px;">
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
          <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Get Tags</button>
        </div>
    </form>
  </main>

  <script>
    document.getElementById('questionForm').addEventListener('submit', function(event) {
      event.preventDefault();
      const questionTitle = document.getElementById('question').value;
      const formattedTitle = questionTitle.trim().replace(/\s+/g, '-').toLowerCase();
      window.location.href = `/get_tags?title=${encodeURIComponent(questionTitle)}`;
    });
  </script>
</body>

</html>
